{% extends "home/base.html" %}
{% load crispy_forms_tags %}

<!--Using this messages for message display -->
<ul>
    {% for message in messages %}
    <li class="{{ message.tags }}">
         {{ message }}
    </li>
    {% endfor %}
</ul>

{% block content %}
<ul>
<!-- object_list is all category query-->
{% for category in object_list %}
    <li>
        {{ category.title }} - {{ category.description }} &nbsp;&nbsp;
        <a href="{% url 'product-category-update' category.id %}">Update</a> &nbsp;

        <a href="{% url 'product-category-delete' category.id %}">Delete</a> &nbsp;
    </li>
{% empty %}
    <li>No category added!</li>
{% endfor %}
</ul>
{% endblock content %}