{% extends "home/base.html" %}
{% load crispy_forms_tags %}

<ul>
    {% for message in messages %}
    <li class="{{ message.tags }}">
         {{ message }}
    </li>
    {% endfor %}
</ul>

{% block content %}

<center style="margin:4em 0 -4em 0;">
    {% for message in messages %}
        <h3 class="alert alert-{{ message.tags }}">
             {{ message }}
        </h3>
    {% endfor %}
</center>
        <div class="app-content">
            <div class="u-s-p-t-90">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-5">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/">Home</a></li>
                                    <li class="has-separator">

                                        <a href="{% url 'product-list-view' %}">Shop</a></li>

                                    <li class="is-marked">

                                        <a href="">{{ object.title }}</a></li>
                                </ul>
                            </div>
                            <br>
                            <!--====== End - Product Breadcrumb ======-->


                            <!--====== Product Detail Zoom ======-->
                            <div class="pd u-s-m-b-30">
                                <div class="slider-fouc pd-wrap">
                                    <div id="pd-o-initiate">
                                        {% if object.image_main %}
                                            <div class="pd-o-img-wrap" data-src="{{ object.image_main.url }}">

                                                <img class="u-img-fluid" src="{{ object.image_main.url }}" data-zoom-image="{{ object.image_main.url }}" alt=""></div>
                                        {% elif object.image_2 %}
                                            <div class="pd-o-img-wrap" data-src="{{ object.image_2.url }}">

                                                <img class="u-img-fluid" src="{{ object.image_2.url }}" data-zoom-image="{{ object.image_2.url }}" alt=""></div>
                                        {% elif object.image_3 %}

                                            <div class="pd-o-img-wrap" data-src="{{ object.image_3.url }}">

                                                <img class="u-img-fluid" src="{{ object.image_3.url }}" data-zoom-image="{{ object.image_3.url }}" alt=""></div>
                                        {% elif object.image_4 %}

                                            <div class="pd-o-img-wrap" data-src="{{ object.image_4.url }}">

                                                <img class="u-img-fluid" src="{{ object.image_4.url }}" data-zoom-image="{{ object.image_4.url }}" alt=""></div>

                                        {% elif object.image_5 %}
                                            <div class="pd-o-img-wrap" data-src="{{ object.image_5.url }}">

                                                <img class="u-img-fluid" src="{{ object.image_5.url }}" data-zoom-image="{{ object.image_5.url }}" alt=""></div>
                                        {% endif %}
                                    </div>


                                    <span class="pd-text">Click for larger zoom</span>
                                </div>
                                <div class="u-s-m-t-15">
                                    <div class="slider-fouc">
                                        <div id="pd-o-thumbnail">
                                            {% if object.image_main %}
                                                <div>
                                                    <img class="u-img-fluid" src="{{ object.image_main.url }}" alt="">
                                                </div>
                                            {% elif object.image_2 %}
                                                <div>
                                                    <img class="u-img-fluid" src="{{ object.image_2.url }}" alt="">
                                                </div>
                                            {% elif object.image_3 %}
                                                <div>
                                                    <img class="u-img-fluid" src="{{ object.image_3.url }}" alt="">
                                                </div>
                                            {% elif object.image_4 %}
                                                <div>
                                                    <img class="u-img-fluid" src="{{ object.image_4.url }}" alt="">
                                                </div>
                                            {% elif object.image_5 %}
                                            <div>
                                                <img class="u-img-fluid" src="{{ object.image_5.url }}" alt="">
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="pd-detail" style="margin-top:5em;">
                                <div>
                                    <h3>{{ object.title }}</h3></div>
                                <div>
                                    <div class="pd-detail__inline">
                                        <span class="pd-detail__price">₹{{ object.discount_price }}</span>

                                        <span class="pd-detail__discount">({{ discount_percent }}% OFF)</span><del class="pd-detail__del">₹{{ object.price }}</del>

                                    </div>
                                </div>
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__preview-desc">{{ object.short_description }}</span></div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">
                                        <div class="section__content">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="contact-area u-h-100">
                                                            <br>
                                                            <div class="contact-area__heading">
                                                                <h2>Get In Touch</h2>
                                                            </div>
                                                            <form class="contact-f" method="post" style="margin-top:-1em;">
                                                                {% csrf_token %}
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 u-h-100">
                                                                        <div class="u-s-m-b-30">
                                                                            <input class="input-text input-text--border-radius input-text--primary-style" type="text" id="id_name" name="name" placeholder="Name (Required)" required style="font-size:1em;"></div>
                                                                        <div class="u-s-m-b-30">
                                                                            <input class="input-text input-text--border-radius input-text--primary-style" type="email" id="id_email" name="email" placeholder="Email" style="font-size:1em;"></div>
                                                                        <div class="u-s-m-b-30">
                                                                            <input class="input-text input-text--border-radius input-text--primary-style" type="number" id="id_mobile" name="mobile" placeholder="Mobile Number (Required)" required style="font-size:1em;"></div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <button class="btn btn--e-brand-b-2" type="submit" style="background-color:#965B92;color:#fff;border-color:#965B92;" onMouseOver="this.style.background-color='#fff'">Send Message</button></div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">


<!--                                <div class="u-s-m-b-15">-->

<!--                                    <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>-->
<!--                                    <ul class="pd-detail__policy-list">-->
<!--                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>-->

<!--                                            <span>Buyer Protection.</span></li>-->
<!--                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>-->

<!--                                            <span>Full Refund if you don't receive your order.</span></li>-->
<!--                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>-->

<!--                                            <span>Returns accepted if product not as described.</span></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
                            <!--====== End - Product Right Side Details ======-->
                        </div>
                    </div>
                </div>
            </div>

            <!--====== Product Detail Tab ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pd-tab">
                                <div class="u-s-m-b-30">
                                    <ul class="nav pd-tab__list">
                                        <li class="nav-item">

                                            <a class="nav-link" data-toggle="tab" href="#pd-desc">DESCRIPTION</a></li>

                                    </ul>
                                </div>
                                <div class="tab-content">

                                    <!--====== Tab 1 ======-->
                                        <div class="pd-tab__desc">
                                            <div class="u-s-m-b-15">
                                                <p>{{ object.description }}</p>
                                            </div>
<!--                                            <div class="u-s-m-b-30"><iframe src="" allowfullscreen></iframe></div>-->
<!--                                            <div class="u-s-m-b-30">-->
<!--                                                <ul>-->
<!--                                                    <li><i class="fas fa-check u-s-m-r-8"></i>-->

<!--                                                        <span>Buyer Protection.</span></li>-->
<!--                                                    <li><i class="fas fa-check u-s-m-r-8"></i>-->

<!--                                                        <span>Full Refund if you don't receive your order.</span></li>-->
<!--                                                    <li><i class="fas fa-check u-s-m-r-8"></i>-->

<!--                                                        <span>Returns accepted if product not as described.</span></li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Product Detail Tab ======-->
            <div class="u-s-p-b-90">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">CUSTOMER ALSO VIEWED</h1>

                                    <span class="section__span u-c-grey">PRODUCTS THAT CUSTOMER VIEWED</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="slider-fouc">
                            <div class="owl-carousel product-slider" data-item="4">
                            {% for product in similar_product %}
                                <div class="u-s-m-b-30">
                                    <div class="product-o product-o--hover-on">
                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'product-detail-view' product.id %}">

                                                <img class="aspect__img" src="{{ product.image_main.url }}" alt=""></a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>
                                                        <a href="{% url 'product-detail-view' product.id %}" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="View"><i class="fas fa-search-plus"></i></a></li>
                                                    <li>
                                                </ul>
                                            </div>
                                        </div>

                                        <span class="product-o__category">

                                            <a href="">{{ product.category }}</a></span>

                                        <span class="product-o__name">

                                            <a href="product-detail.html">{{ product.title }}</a></span>
                                        <span class="product-o__price">₹{{ product.discount_price }}
                                        <span class="product-o__discount">₹{{ product.price }}</span></span>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->


    </div>
    <!--====== End - Main App ======-->

{% endblock content %}